<div class="col-md-12">
  <div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="ture">
      Order
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelldby="dropdownMenuDivider">
      <%= link_to("By wage upper bound",jobs_path(:order => "by_wage_upper_bounder"))%>
      <br><%= link_to("By wage lower bound",jobs_path(:order => "by_wage_lower_bounder"))%>
      <br><%= link_to("By Recent",jobs_path)%>
    </ul>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Description</td>
        <td>Wage Lower Bound</td>
        <td>Wage Upper Bound</td>
        <td>Contact Email</td>
        <td>Time</td>
        <td>Creator</td>
      </tr>
    </thead>
    <tbody>

      <%= render :partial => "job_item", :collection => @jobs,:as => :job %>

    </tbody>
  </table>
  <div class="text-center">
    <%= will_paginate @jobs %>
  </div>
</div>
